DB_TYPE=sqlite
DB_DATABASE=local-ota.sqlite
DB_SYNCHRONIZE=true
DB_LOGGING=false

JWT_SECRET=smartplug-secret
PORT=3004
ESP02S_TASMOTA_MINIMAL_PATH=

SEED_DEFAULT_DATA=true
SEED_RESET_LOCAL_DATA=true
SEED_USER_ID=admin
SEED_USER_NAME=admin
SEED_USER_PASSWORD=admin1234
SEED_PROJECT_ID=10
SEED_PROJECT_NAME=smartplug
SEED_PROJECT_UUID=41742426-d035-4756-ba17-f542ea75ab02
